
<% include ./partials/header.ejs %>
<div class="container-fluid">
	<h3>Welcome</h3>
	<p>Have you ever wanted to discover new inspirational quotes from great literary minds and famous political figures?  Well you have come to the right place.  Here you can search a massive library of truly inspiring quotes that have stood the test of time.  Once you login you can access the western world's finest qoutes and save them in our databse forvever! Thanks for visiting and have Fun!</p>
</div>
<% include ./partials/footer.ejs %>