<!DOCTYPE html>
<html>
<head>
	<title>Don't Quote Me On This</title>

	<!-- BootStrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
	
	<!-- jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- js -->
   <script src="js/app.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>
<button class= "Login">Login</button>
<button class= "Logout">Logout</button>
<button class= "Signup!">Signup</button>


<div class="qbox"></div>
<div class="abox"></div>
<button id="rando" type="button" class="btn btn-default navbar-btn">Random Quote</button>
<button id="save" type="button" class="btn btn-default navbar-btn">Save this shiz</button>
<div class="saveBox"></div>





</body>
</html>