
<% include ./partials/header.ejs %>
<h2>"Don't Qoute Me On This"</h2>	<!DOCTYPE html>
<html>
<head>
	<title>Don't Quote Me On This...</title>

	<!-- BootStrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
	
	
   <!-- js -->
   <script src="js/app.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>



<div class="qbox"></div>
<div class="abox"></div>
<button id="rando" type="button" class="btn btn-default navbar-btn">Random Quote</button>

<button id="save" type="button" class="btn btn-default navbar-btn">Save It!</button>

<!-- <button id="remove" type="button" class="btn btn-default navbar-btn">Delete It</button> -->

<form>
	<textarea id="saveQuote" text="'The chicken was playing in the Garden, so I ignored it.'"></textarea>
	
	<input type="text" id="newAuthor" placeholder="Brillant Author">

	<button id="submit" type="button" class="btn btn-default navbar-btn">Submit</button>
</form>

<h4>Remove A quote by copying and pasting its ID!</h4>
<input type="text" id="delRoute" placeholder="paste id here!">

<button id="put" type="button" class="btn btn-default navbar-btn">Update</button>
<button id="delButton" type="button" class="btn btn-default navbar-btn">Delete</button>

<div class="dbq"></div>









</body>
<% include ./partials/footer.ejs %>